<IfModule mod_rewrite.c>
    Options +FollowSymlinks
    RewriteEngine On

    # Force www in the URL and HTTPS
    RewriteCond %{HTTP_HOST} ^findsocialstar\.com [NC,OR]
    RewriteCond %{HTTPS} off
    RewriteRule ^ https://www.findsocialstar.com%{REQUEST_URI} [L,R=301]

    # Remove file extensions (e.g., .html)
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME}\.html -f
    RewriteRule ^([^/]+)/$ $1.html

    # Remove trailing slashes
    RewriteRule ^(.+)/$ /$1 [R=301,L]

    # Set default charset to UTF-8
    AddDefaultCharset UTF-8

    # Enable Gzip compression
    <IfModule mod_deflate.c>
        AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css text/javascript application/javascript application/x-javascript application/json
    </IfModule>
</IfModule>
